body {
    font-family: Arial;
    padding: 20px;
    background: #c8d8e4;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #c8d8e4;
  }
  
  .leftcolumn {
    float: left;
    width: 70%;
  }
  
  .rightcolumn {
    float: right;
    width: 28%;
  }
  
 
  .card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .card img {
    height: 300px;
    max-width:95%;
  }
  
  .small-card {
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .footer {
    padding: 20px;
    text-align: center;
    background: #c8d8e4;
    margin-top: 20px;
  }

  .navbar {
    background-color: #2b6777;
    overflow: hidden;
  }


  .navbar a {
      float: left;
      display: block;
      color: #ddd;
      text-align: center;
      padding: 14px 16px;
      font-size: larger;
      text-decoration: none;
  }

  .navbar a:hover {
    background-color: #52ab98;
    color: black;
  }

  .navbar a.active {
    background-color: #52ab98;
    color: white;
  }
  .navbar .icon {
    display: none;
  }
  
  textarea {
    width: 90%;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    body {
      padding: 0;
    }
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
    .card img {
      width: 90%;
      height: auto;
      
    }
  }

  @media screen and (max-width: 700px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 700px) {
    .navbar.responsive {position: relative;}
    
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive a.icon {
      position: absolute; 
      right: 0;
      top: 0;
    }
  }
 